* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

header, footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.container ul, a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    margin-left: 200px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px;
}

.headerContent {
    width: 500px;
    margin: 30px;

}

.headerContent h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headerContent p {
    margin: 5px 0;
}

.headerContent button {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 9px 40px;

}

.headerImg {
    width: 350px;
    border: 4px double green;
}

main {

}

footer {
    margin-top: auto;
}